<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\home\python310\python.exe|D:\home\site\wwwroot\env\Scripts\wsgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="D:\home\python310\python.exe" arguments="&quot;D:\home\site\wwwroot\env\Scripts\gunicorn.exe&quot; --chdir D:\home\site\wwwroot --bind 0.0.0.0:%PORT% --timeout 600 --workers 4 UI.wsgi:application" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout" startupTimeLimit="60" />
  </system.webServer>
</configuration>
